.container {
    background-color: #F2E8DC;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.slides{
    display: flex;
    flex-direction: row;
}

.indicatorContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #ccc3ba;
    margin: 0 0.2rem
}

.buttonContainer {
    padding: 1rem;
}

.button {
    padding: 1rem;
    width: 100%;
    height: 3.5rem;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.text {
    color: #f9f0e7;
}